<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Yokohama Tire">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Ympact Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="resources/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="resources/assets/data-tables/DT_bootstrap.css" />

      <!--right slidebar-->
      <link href="resources/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="resources/css/style.css" rel="stylesheet">
    <link href="resources/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="">
       <!--header start-->
      <header class="header dark-bg">
          <div class="sidebar-toggle-box">
              <i class="fa fa-bars"></i>
          </div>
          <!--logo start-->
          <a href="index.html" class="logo"><img src="resources/img/yokohama-logo.svg" width="132" height="52"></a>
          <!--logo end-->
          <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
              <!-- settings start -->

              
              <!-- notification dropdown start-->
             <li id="header_notification_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                      <i class="fa fa-bell-o"></i>
                      <span class="badge bg-important">7</span>
                  </a>
                  <ul class="dropdown-menu extended notification">
                      <div class="notify-arrow notify-arrow-yellow"></div>
                      <li>
                          <p class="yellow">You have 7 new notifications</p>
                      </li>
                      <li>
                          <a href="#">
                              <span class="label label-success"><i class="fa fa-bell"></i></span>
                              #20543 has been approved
                              <span class="small italic">30 mins</span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                               #20543 has been rejected
                              <span class="small italic">4 hrs</span>
                          </a>
                      </li>
                  </ul>
              </li>
              <!-- notification dropdown end -->
          </ul>
          </div>
          <div class="top-nav ">
              <ul class="nav pull-right top-menu">
                  <li>
                      <input type="text" class="form-control search" placeholder="Search">
                  </li>
                  <!-- user login dropdown start-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <img alt="" src="img/avatar1_small.jpg">
                          <span class="username">John Doe</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <div class="log-arrow-up"></div>
                          <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                          <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                          <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                          <li><a href="login.html"><i class="fa fa-key"></i>Log Out</a></li>
                      </ul>
                  </li>
                  <!-- user login dropdown end -->
              </ul>
          </div>
      </header>
<!--header end -->
      
<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>My Dashboard</span>
                      </a>
                  </li>
                  <li>
                      <a class="" href="pricing-form.html">
                              <i class="fa fa-tasks"></i>
                              <span>Create New Program</span>
                      </a>
                  </li>
                   <li>
                      <a class="" href="pricing-form-existing.html">
                              <i class="fa fa-tasks"></i>
                              <span>Edit Program</span>
                      </a>
                  </li>
                  <li>
                      <a class="" href="pricing-form-rejected.html">
                              <i class="fa fa-tasks"></i>
                              <span>Edit Rejected Program</span>
                      </a>
                  </li>
                  <li>
                      <a href="login.html">
                          <i class="fa fa-user"></i>
                          <span>Login Page</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
<!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              <!-- page start-->
              <section class="panel">
                  <div class="panel-body"> 
<!-- START 'Pending Approvals' table -->
                       <div class="adv-table editable-table">
                          <div class="clearfix">
                          </div>
                         <div class="space15"></div>
                         <h3 class="tableHeader">Pending Approvals</h3>
                          <div class="table-responsive">    
                          <table class="table table-striped table-hover table-bordered approvals" id="editable-sample">
                              <thead>
                                <tr>
                                    <th colspan="2" class="center toptheader">Customer</th>
                                    <th colspan="2" class="center toptheader">Program</th>
                                    <th colspan="3" class="toptheader">&nbsp;</th>
                                    <th colspan="4" class="center toptheader">Status</th>
                              </tr>
                              <tr class="rowvis">
                                <th class="center">Number</th>
                                <th>Name</th>
                                <th class="center">ID</th>
                                <th>Name</th>
                                <th>Bus. Unit</th>
                                <th class="center">Submitted</th>
                                <th class="center">Status</th>
                                <th class="center">Manager</th>
                                <th class="center">Director</th>
                                <th class="center">Execs</th>
                                <th class="center">TBP</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="">
                                  <td class="center">20998</td>
                                  <td>A &amp; E TIRE INC</td>
                                  <td class="center">1234</td>
                                  <td>OE Spec Credit</td>
                                  <td>Commercial</td>
                                  <td class="center">03/15/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/24/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/16/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">26100</td>
                                  <td>ACTION TIRE INC</td>
                                  <td class="center">1234</td>
                                  <td>Retail Sellout</td>
                                  <td>Consumer</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td><td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/16/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td>Program Support</td>
                                  <td>Consumer</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="rejected tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Rejected 03/21/17"></div></td>
                                  <td class="center"><div class="rejected tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Rejected 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/16/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td>Store Assistance</td>
                                  <td>Commercial</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                            </tr>
                              <tr class="">
                                  <td class="center">26588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td>Trip Fund</td>
                                  <td>OTR</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28544</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td>Fixed Subsidy</td>
                                  <td>Consumer</td>
                                  <td class="center">03/11/2017</td>
                                 <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                 <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                 <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>INTERSTATE TIRE DISTRIBUTOR</td>
                                  <td class="center">1234</td>
                                  <td>Roadside Assistance</td>
                                  <td>Commercial</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28568</td>
                                  <td>Evans Tires</td>
                                  <td class="center">1234</td>
                                  <td>OE Spec Credit</td>
                                  <td>OTR</td>
                                  <td class="center">02/01/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/17/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td class="">T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td class="">OE Spec Credit</td>
                                  <td class="">Consumer</td>
                                  <td class="center">03/01/2017</td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/16/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1234</td>
                                  <td>Retail Enhancement</td>
                                  <td>OTR</td>
                                  <td class="center">02/01/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1236</td>
                                  <td>Trip Fund</td>
                                  <td>Commercial</td>
                                  <td class="center">03/11/2017</td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="approved tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Approved 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              <tr class="">
                                  <td class="center">28588</td>
                                  <td>T &amp; D TRUCKING INC</td>
                                  <td class="center">1474</td>
                                  <td>Retail Sellout</td>
                                  <td>OTR</td>
                                  <td class="center">02/01/2017</td>
                                  <td class="center"><div class="rejected tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Rejected 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                                  <td class="center"><div class="rejected tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Rejected 03/21/17"></div></td>
                                  <td class="center"><div class="pending tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Pending 03/21/17"></div></td>
                              </tr>
                              </tbody>
                          </table>
                          </div>
                      </div>
<!-- END 'Pending Approvals' table -->                    

<!-- START 'My Customers' table -->
                      
                     <div class="adv-table editable-table">
                         <div class="space15"></div>
                         <h3 class="tableHeader">Customers</h3>
                          <div class="table-responsive">    
                          <table class="table table-striped table-hover table-bordered" id="editable-sample2">
                              <thead>
                                <tr>
                                    <th colspan="2" class="center toptheader">Customer</th>
                                    <th colspan="6" class="toptheader">&nbsp;</th>
                              </tr>
                              <tr class="rowvis">
                                <th class="center">Number</th>
                                <th class="">Name</th>
                                <th class="">Bus. Unit</th>
                                <th class="">Acct Manager</th>
                                <th class="">Program Count</th>
                                <th class="center">Accrued</th>
                                <th class="center">Paid</th>
                                <th class="center">Balance</th>
                              </tr>
                              </thead>
                            <tbody>
                              <tr class="">
                                  <td class="center"><a href="customer_details_dealertire.html">22031</a></td>
                                  <td><a href="customer_details_dealertire.html">DEALER TIRE LLC</a></td>
                                  <td><a href="customer_details_dealertire.html">Consumer</a></td>
                                  <td><a href="customer_details_dealertire.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_dealertire.html">10</a></td>
                                  <td class="text-right"><a href="customer_details_dealertire.html">$8,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_dealertire.html">$3,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_dealertire.html">$5,000.00</a></td>
                              </tr>
                                <tr class="">
                                  <td class="center"><a href="customer_details_tirediscounters.html">25589</a></td>
                                  <td><a href="customer_details_tirediscounters.html">TIRE DISCOUNTERS INC</a></td>
                                  <td><a href="customer_details_tirediscounters.html">Consumer</a></td>
                                  <td><a href="customer_details_tirediscounters.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_tirediscounters.html">8</a></td>
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$6,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$5,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$1,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_tirediscounters.html">25589</a></td>
                                  <td><a href="customer_details_tirediscounters.html">TIRE DISCOUNTERS INC</a></td>
                                  <td><a href="customer_details_tirediscounters.html">Consumer</a></td>
                                  <td><a href="customer_details_tirediscounters.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_tirediscounters.html">12</a></td>
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$6,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$4,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_tirediscounters.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_gcrtrucktire.html">27587</a></td>
                                  <td><a href="customer_details_gcrtrucktire.html">GCR TRUCK TIRE CENTERS</a></td>
                                  <td><a href="customer_details_gcrtrucktire.html">Consumer</a></td>
                                  <td><a href="customer_details_gcrtrucktire.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_gcrtrucktire.html">10</a></td>
                                <td class="text-right"><a href="customer_details_gcrtrucktire.html">$9,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_gcrtrucktire.html">$7,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_gcrtrucktire.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_reinaltthomascorp.html">00204</a></td>
                                  <td><a href="customer_details_reinaltthomascorp.html">REINALT-THOMAS CORPORATION</a></td>
                                  <td><a href="customer_details_reinaltthomascorp.html">Commercial</a></td>
                                  <td><a href="customer_details_reinaltthomascorp.html">Colby McGehee</a></td>
                                  <td><a href="customer_details_reinaltthomascorp.html">8</a></td>
                                  <td class="text-right"><a href="customer_details_reinaltthomascorps.html">$9,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_reinaltthomascorp.html">$6,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_reinaltthomascorp.html">$3,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_monromuffler.html">21132</a></td>
                                  <td><a href="customer_details_monromuffler.html">MONRO MUFFLER BRAKE INC</a></td>
                                  <td><a href="customer_details_monromuffler.html">OTR</a></td>
                                  <td><a href="customer_details_monromuffler.html">Annalisa Zumbar</a></td>
                                  <td><a href="customer_details_monromuffler.html">19</a></td>
                                  <td class="text-right"><a href="customer_details_monromuffler.html">$6,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_monromuffler.html">$2,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details.html">$4,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_valleytire.html">00188</a></td>
                                  <td><a href="customer_details_valleytire.html">VALLEY TIRE CO INC</a></td>
                                  <td><a href="customer_details_valleytire.html">Consumer</a></td>
                                  <td><a href="customer_details_valleytire.html">Bill Smith</a></td>
                                  <td><a href="customer_details_valleytire.html">12</a></td>
                                  <td class="text-right"><a href="customer_details_valleytire.html">$9,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_valleytire.html">$6,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_valleytire.html">$3,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_millertransporters.html">13235</a></td>
                                  <td><a href="customer_details_millertransporters.html">MILLER TRANSPORTERS INC</a></td>
                                  <td><a href="customer_details_millertransporters.html">Commercial</a></td>
                                  <td><a href="customer_details_millertransporters.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_millertransporters.html">9</a></td>
                                  <td class="text-right"><a href="customer_details_millertransporters.html">$7,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_millertransporters.html">$2,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_millertransporters.html">$5,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_coopertire.html">11790</a></td>
                                  <td><a href="customer_details_coopertire.html">COOPER TIRE & RUBBER</a></td>
                                  <td><a href="customer_details_coopertire.html">Commercial</a></td>
                                  <td><a href="customer_details_coopertire.html">Annalisa Zumbar</a></td>
                                  <td><a href="customer_details_coopertire.html">6</a></td>
                                  <td class="text-right"><a href="customer_details_coopertire.html">$8,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_coopertire.html">$2,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_coopertire.html">$4,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_truckstopdist.html">00224</a></td>
                                  <td><a href="customer_details_truckstopdist.html">TRUCKSTOP DISTRIBUTORS IN</a></td>
                                  <td><a href="customer_details_truckstopdist.html">Commercial</a></td>
                                  <td><a href="customer_details_truckstopdist.html">Bill Smith</a></td>
                                  <td><a href="customer_details_truckstopdist.html">11</a></td>
                                  <td class="text-right"><a href="customer_details_truckstopdist.html">$8,500.00</a></td>
                                  <td class="text-right"><a href="customer_details_truckstopdist.html">$6,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_truckstopdist.html">$2,500.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_valleytire.html">00188</a></td>
                                  <td><a href="customer_details_valleytire.html">VALLEY TIRE CO INC</a></td>
                                  <td><a href="customer_details_valleytire.html">Consumer</a></td>
                                  <td><a href="customer_details_valleytire.html">Tony Carlfeldt</a></td>
                                  <td><a href="customer_details_valleytire.html">10</a></td>
                                  <td class="text-right"><a href="customer_details_valleytire.html">$9,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_valleytire.html">$8,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_valleytire.html">$1,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="customer_details_travelcentersofa.html">00122</a></td>
                                  <td><a href="customer_details_travelcentersofa.html">TRAVELCENTERS OF AMERICA</a></td>
                                  <td><a href="customer_details_travelcentersofa.html">Commercial</a></td>
                                  <td><a href="customer_details_travelcentersofa.html">Bill Smith</a></td>
                                  <td><a href="customer_details_travelcentersofa.html">9</a></td>
                                  <td class="text-right"><a href="customer_details_travelcentersofa.html">$7,000.00</a></td>
                                  <td class="text-right"><a href="customer_details_travelcentersofa.html">$1,000.00</a></td>                 
                                  <td class="text-right"><a href="customer_details_travelcentersofa.html">$6,000.00</a></td>
                              </tr>
                              </tbody>

                          </table>
                          </div>
                      </div>
  <!-- END of 'My Customers' table -->
                      
  <!-- START 'My Programs' Table -->
                      
                     <div class="adv-table editable-table ">
                          <div class="clearfix">
                          </div>
                         <div class="space15"></div>
                         <h3 class="tableHeader">Programs</h3>
                          <div class="table-responsive">    
                          <table class="table table-striped table-hover table-bordered" id="editable-sample3">
                              <thead>
                                 <tr>
                                    <th colspan="2" class="center toptheader">Program</th>
                                    <th colspan="5" class="toptheader">&nbsp;</th>
                              </tr>
                              <tr class="rowvis">
                                  <th class="text-center">Number</th>
                                  <th class="">Name</th>
                                  <th class="">Acct Manager</th>
                                  <th class="">Customer Count</th>
                                  <th class="center">Accrued</th>
                                  <th class="center">Paid</th>
                                  <th class="center">Balance</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">28140</a></td>
                                  <td><a href="pricing-form-existing.html">OE Program</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Jones</a></td>
                                  <td><a href="pricing-form-existing.html">5</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Roadside Assistance</a></td>
                                  <td><a href="pricing-form-existing.html">Bob Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Fixed Subsidy</a></td>
                                  <td><a href="pricing-form-existing.html">Colby McGehee</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Growth Bonus</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">OE Program</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">OE Program</a></td>
                                  <td><a href="pricing-form-existing.html">Bill James</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                          <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Fixed Subsidy</a></td>
                                  <td><a href="pricing-form-existing.html">Bob Monroe</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Growth Bonus</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                               <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">OE Program</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                   <td><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Growth Bonus</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Fixed Subsidy</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              <tr class="">
                                  <td class="center"><a href="pricing-form-existing.html">12</a></td>
                                  <td><a href="pricing-form-existing.html">Growth Bonus</a></td>
                                  <td><a href="pricing-form-existing.html">Bill Smith</a></td>
                                  <td><a href="pricing-form-existing.html">12</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$3,000.00</a></td>
                                  <td class="text-right"><a href="pricing-form-existing.html">$1,000.00</a></td>    
                                  <td class="text-right"><a href="pricing-form-existing.html">$2,000.00</a></td>
                              </tr>
                              </tbody>
                          </table>

                          </div>
                      </div>
    <!-- END My Program's table -->
                  </div>
                  
              </section>
              <!-- start new panel for testing -->
              
              <!-- end new panel for editable table testng -->
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
      <!-- Right Slidebar start -->
      <div class="sb-slidebar sb-right sb-style-overlay">
          <h5 class="side-title">Online Customers</h5>
          <ul class="quick-chat-list">
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/chat-avatar2.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <strong>John Doe</strong>
                          <small>Dream Land, AU</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/chat-avatar.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-important">3</span>
                          </div>
                          <strong>Jonathan Smith</strong>
                          <small>United States</small>
                      </div>
                  </div><!-- media -->
              </li>

              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/pro-ac-1.png" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-success">5</span>
                          </div>
                          <strong>Jane Doe</strong>
                          <small>ABC, USA</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/avatar1.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <strong>Anjelina Joli</strong>
                          <small>Fockland, UK</small>
                      </div>
                  </div><!-- media -->
              </li>
              <li class="online">
                  <div class="media">
                      <a href="#" class="pull-left media-thumb">
                          <img alt="" src="img/mail-avatar.jpg" class="media-object">
                      </a>
                      <div class="media-body">
                          <div class="media-status">
                              <span class=" badge bg-warning">7</span>
                          </div>
                          <strong>Mr Tasi</strong>
                          <small>Dream Land, USA</small>
                      </div>
                  </div><!-- media -->
              </li>
          </ul>
          <h5 class="side-title"> pending Task</h5>
          <ul class="p-task tasks-bar">
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Dashboard v1.3</div>
                          <div class="percent">40%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                              <span class="sr-only">40% Complete (success)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Database Update</div>
                          <div class="percent">60%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                              <span class="sr-only">60% Complete (warning)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Iphone Development</div>
                          <div class="percent">87%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 87%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                              <span class="sr-only">87% Complete</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Mobile App</div>
                          <div class="percent">33%</div>
                      </div>
                      <div class="progress progress-striped">
                          <div style="width: 33%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger">
                              <span class="sr-only">33% Complete (danger)</span>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <div class="task-info">
                          <div class="desc">Dashboard v1.3</div>
                          <div class="percent">45%</div>
                      </div>
                      <div class="progress progress-striped active">
                          <div style="width: 45%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" role="progressbar" class="progress-bar">
                              <span class="sr-only">45% Complete</span>
                          </div>
                      </div>

                  </a>
              </li>
              <li class="external">
                  <a href="#">See All Tasks</a>
              </li>
          </ul>
      </div>
      <!-- Right Slidebar end -->
      <!--footer start-->
     <footer class="site-footer">
          <div class="text-center">
              2017 &copy; Yokohama Tire Corporation. All rights reserved. The Yokohama Rubber Company Limited
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="assets/data-tables/DT_bootstrap.js"></script>
    <script src="js/respond.min.js" ></script>

  <!--right slidebar-->
  <script src="js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script>

      <!--script for this page only-->
      <script src="js/editable-table.js"></script>

      <!-- END JAVASCRIPTS -->
      <script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
      </script>


  </body>
</html>
